*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #e3ddd6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #e3ddd6;
    width: 100%;
}
#header-logo{
    display: flex;
    font-size: 18px;
    color: #654321;
    width: 62vw;
    /* margin-top: 20px; */
    align-items: center;
}
#header-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
#nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#nav-bar ul li{
    /* display: inline; */
    font-size: 18px;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    color: #654321;
}
.nav-link:hover{
    color: #c19a6b;
}
#intro{
    text-align: center;
    color: #654321;
    margin-top: 100px;
}
#email{
    height: 30px;
    outline: #654321;
    margin-top: 10px;
    width: auto;
}
#submit{
    display: block;
    margin: 10px auto;
    /* width: 5%; */
    width: auto;
    padding: 5px;
    height: 30px;
    background-color:#caae8b;
    color:#654321;
    border: none;
}
#submit:hover{
    color: #caae8b;
    background-color: #654321;
}
#features{
    margin-top: 10%;
    margin-left: 12%
}
.features-list{
    color: #654321;
}
.list-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2px;
}
.list-desc{
    margin-bottom: 15px;
}
#adv{
    margin-top: 5%;
    text-align: center;
}
#video{
    width: 40%;
}
#pricing{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 12%;
}
.product{
    border: 1px solid #654321;
    height: fit-content;
    padding: 20px;
    margin-top: 5%;
    color: #654321;
    text-align: center;
}
.product img{
    width: 200px;
    height: 200px;
}
.product button{
    background-color:#caae8b;
    color: #654321;
    width: 70px;
    height: 30px;
    margin-top: 15px;
    border: none;
}
.product button:hover{
    background-color: #654321;
    color: #caae8b;
}
footer{
    text-align: center;
    color: #654321;
    background-color:#caae8b;
    height: auto;
    padding: 15px;
    margin-top: 2%;
}
@media (max-width: 760px){
    #header{
        flex-direction: column;

    }
    #nav-bar ul{
        flex-direction: column;
        justify-content: center;
    }
    #header-logo{
        justify-content: center;
    }
    #intro{
        margin-top: 200px;
        font-size: 12px;
    }
    #submit{
        width: auto;
        font-size: 12px;
    }
    #features{
        text-align: center;
        margin-left: 0;
    }
    .features-list{
        list-style: none;
    }
    .list-title{
        font-size: 18px;
    }
    .list-desc{
        font-size: 12px;
    }
    #video{
        width: 100%;
        margin-top: 20px;
    }
    #pricing{
        margin-left: 0;
    }
    footer{
        font-size: 12px;
        padding: 10px;
    }
}