#main{
    background-color: rgb(195, 193, 193);
    width: 100%;
    text-align: center;
}
#title{
    font-family: Verdana sans-serif;
    padding-top: 40px;
}
#img-div{
    background-color: rgb(225, 220, 220);
    width: 90%;
    /* margin-left: 140px; */
    margin: auto;
    border-radius: 20px;
}
#image{
    max-width:100% ;
    height: auto;
    min-width: 50%;
    padding-top: 20px;
    margin: auto;
    display: block;
}
#img-caption{
    font-family: Verdana sans-serif;
    font-size: 18px;
    padding-bottom: 15px;
}
section P{
    padding-top: 15px;
    margin-left: 50PX;
    padding-left: 0;
}
p span{
    font-weight: 800;
}
#tribute-info{
    padding: 15px 0;
}
section h1{
    margin-bottom: 25px;
}
#foot{
    font-size: 25px;
    font-weight: 600;
}
a{
    font-size: 20px;
}
#s2{
    padding: 20px 0;
}