*{
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body{
    display: block;
    min-width: 290px;
}
#navbar{
    position: fixed;
    top: 0;
    width: 300px;
    border-right: 1px solid gray;
    margin-right: 20px;
    text-align: center;
    height: 100%;
}
#navbar-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
#navbar-list li{
    border-top: 1px solid gray;
    padding: 20px 0;
}
.nav-link{
    color: gray;
    font-size: 20px;
    font-family:cursive;
    text-decoration: none;
}
a:visited{
    color: gray;
}
a:hover{
    color: rgb(57, 56, 56);
}
#main-doc{
    position: absolute;
    left:350px;
}
header{
    font-family: cursive;
    font-size: 27px;
    font-weight: 600;
}
p{
    font-size: 20px;
    
}
article{
    display: block;
}
.bold{
    font-weight: 800;
}
li{
    padding: 7px;
}
.bold-variables{
    font-weight: 600;
    color: red;
}
code{
    color: rgb(30, 30, 162);
}
.example{
    /* font-weight: 550; */
    font-size: 15px;
    padding: 0 30px;
    color:rgb(54, 54, 54)
}
h3{
    text-decoration: underline;
    color: rgb(79, 77, 77);
}
@media(max-width: 815px){
    #navbar{
    position: absolute;
    top: 0;
    /* padding: 0;
    margin: 0; */
    width: 100%;
    max-height: fit-content;
    border: none;
    z-index: 1;
    }
    #navbar-list li{
        padding: 5px;
    }
    #main-doc{
        position: relative;
        top: 325px;
        left:0;
    }
}